<div id="container">
    <h2>Clientes</h2>

    <div id="table-container">
        <p *ngIf="listaClientes.length == 0">Nenhum registro encontrado.</p>
        <app-listar *ngIf="listaClientes.length > 0" [clientes]="listaClientes" (contarRegistros)="contarClientes($event)"></app-listar>
    </div>

    <p class="registros-counter">Registros encontrados: <span>{{ quantidadeClientes }}</span></p>

    <div id="control-panel">
        <a routerLink="cadastrar"> <fa-icon [icon] = "faPlus" ></fa-icon> Cadastrar</a>
        <a routerLink="." (click)="reload()"> <fa-icon [icon]="faRefresh"></fa-icon> Atualizar</a>
        <a routerLink="editar"> <fa-icon [icon]="faEdit"></fa-icon> Editar</a>
    </div>
    <hr>
</div>
<router-outlet></router-outlet>