<div id="container">
    <h2>Meu Feed</h2>

    <div class="content-container">

        <div class="content-header">
            <h3>
                SOLUÇÕES PARA O SETOR AEROESPACIAL
            </h3>
        
            <small>
                Sistemas e Softwares de Missão Crítica de Tempo Real
            </small> 
        </div>

        <div class="content">
            <div class="content-text">  
                <p>
                    Os sistemas de missão crítica da <strong>CONCERT</strong> estão presentes há mais de 20 anos no Programa Espacial Brasileiro onde equipamentos e sistemas de software de tempo real controlam as principais operações do CLA – Centro de Lançamento de Alcântara e do CLBI – Centro de Lançamento da Barreira do Inferno.
                </p>

                <ul>
                    <li>Sistemas de Tempo Real de Apoio ao Lançamento</li>
                    <li>Sistemas de Rede IRIG</li> 
                    <li>Sistemas de Tratamentos de Dados de Localização</li>
                    <li>Sistemas de Disparo</li>
                    <li>Sistemas de Geração de Código</li>
                </ul>

            </div>
            <div class="content-img">
                <img src="../../../assets/img/centro-de-lancamento.jpg">
            </div>
        </div>
    </div>

    <div class="content-container">

        <div class="content-header">
            <h3>
                Lorem Text
            </h3>
        
            <small>
                Lorem Randomic Text
            </small> 
        </div>

        <div class="content">
            <div class="content-text">  
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat incidunt architecto provident fugiat dicta assumenda non ipsam quia natus. Ipsa adipisci distinctio dolorem illo pariatur eaque soluta porro similique ipsam.
                    Lacinia sodales cubilia metus eleifend potenti lacus sapien porttitor malesuada orci, vulputate et sit leo orci consequat vehicula aenean facilisis proin aliquam, cras nisl conubia varius et massa dolor varius nunc. dui vulputate lorem congue himenaeos a praesent semper nisl curabitur dictumst, vestibulum mauris ac accumsan auctor ultrices convallis ligula ac interdum lobortis, eros turpis lorem quis fermentum commodo habitant eros faucibus. tempor condimentum donec elementum euismod vitae ullamcorper class, velit porttitor platea malesuada hendrerit magna amet torquent, eros pellentesque lorem suscipit potenti eu. 
                </p>
                
            </div>
            <div class="content-img">
                <img src="https://picsum.photos/620/413" alt="Imagem aleatória">
            </div>
        </div>
    </div>

    <div class="content-container">

        <div class="content-header">
            <h3>
                Only Another Sample Text
            </h3>
            
            <small>
                Another random text found on web.
            </small> 
        </div>

        <div class="content">
            <div class="content-text">  
                <p>
                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
                </p>    
            </div>
            <div class="content-img">
                <img src="https://picsum.photos/621/413" alt="Imagem aleatória">
            </div>
        </div>

    </div>
</div>  

